# Configuration PostgreSQL
DB_HOST=db
DB_PORT=5432
DB_NAME=drivingschool
DB_USER=postgres
DB_PASSWORD=admin_secure_password_123

# Configuration Spring Boot
SPRING_PROFILES_ACTIVE=prod

# Configuration Frontend
VITE_API_URL=http://localhost:80
